.time{ 
	margin: none; padding: none; border: none;
	background-color: #5C5C5C; 
	width: 2.5px; 
	left: 255px; 
	z-index: 1; position: relative; 
	color: #FFF; 
	transform-origin: bottom;
}

.hour{ height: 100px; top: -355px; }
.minute{ height: 150px; top: -505px; }
.second{ height: 200px; top: -705px; }

.time_img{ margin: -2px 0px; }
.time_img{
 	margin: none; padding: none; border: none;
	display: inline-block;
 	text-align: left;
}