.menu{
	position: relative; text-align: center; margin: 0 auto; 
	height: 200px; width: 25%;
	padding: 1%;
	border: solid 2px; border-radius: 10px; border-color: #A2A3FF;
}
.time_input{
	border: solid 2px; border-radius: 10px; border-color: #A2A3FF;
	height: 25px; width: 55px;
}
.start{
	border: solid 2px; border-radius: 10px; border-color: #A2A3FF;
	font-size: 25px;
	height: 10px; width: 55px;
	margin: 5px; padding: 10px;
	bottom: 0; left: 0;
}
#answer{
	font-size: 25px;
	height: 20px; width: 25px;
}
#calc{
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
	height: 20px; width: 25px;
	border: solid 2px; border-radius: 10px; border-color: #A2A3FF;
	outline: 0;
	/*background-color: #AFDDDC*/
}