#show{
	padding: 10px 0;
	height: auto;
	opacity: 1;
}
#hide{
	height: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
}

body{
	text-align: center;
}

.in{
	border: dotted 2px #45F66F;
	border-radius: 5px;
	margin: auto;padding: 10px;
	width: 50%;
}
.out{
	border: solid 2px #45F66F;
	border-radius: 5px;
	margin: auto;padding: 10px;
	width: 50%;
}

.ins{
	outline: none;
	border: none; border-bottom: solid 1px #55FF00;
	width: 60px;
	font-size: 20px;
}
.outs{
	font-size: 20px;
}

.start{
	border: dashed 2px #00FF00;
	border-radius: 10px;
	margin: 10px; padding: 5px;
	font-size: 20px;
	background-color: #DAFFDA;
}